.search-bar {
        flex: 1;
        max-width: 700px;
        margin-left: 30%;
        padding: 3px 20px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(96, 89, 89, 0.2);
    }

    .search-bar input {
        flex: 1;
        border: 0;
        font-size: 20px;
        padding: 3px 20px;
        color: #ffffff;
        outline: none;
        align-items: center;
        background: transparent;
        justify-content: center;
    }

    ::placeholder {
        color: #c924ff;
    }

    .search-bar button img {
        width: 20px;
    }

    nav {
        width: 100%;
        z-index: 100;
        padding: 10px -1px;
        background: #1a1a1a;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 120px;
        margin-left: 50%;
    }

    .user-picture {
        object-fit: cover;
        cursor: pointer;
        width: 70px;
        height: 70px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 50%;
        clip-path: circle(30%);
    }

    nav ul {
        width: 100%;
        text-align: right;
    }

    nav ul li {
        list-style: none;
        margin: 10px 20px;
        display: inline-block;

    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .sub-menu-wrap {
        top: 100%;
        right: 2%;
        width: 320px;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: max-height 0.5s;
    }

    .sub-menu-wrap.open-menu {
        max-height: 400px;
    }

    .sub-menu {
        margin: 10px;
        padding: 20px;
        background: #fff;
        border-radius: 9%;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-info h3 {
        font-weight: 10;
    }

    .user-info img {
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .sub-menu hr {
        border: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
        margin: 15px 0 10px;
    }

    .sub-menu-link {
        margin: 12px 0;
        color: #525252;
        display: flex;
        align-items: center;
        text-decoration: none;

    }

    .sub-menu-link p {
        width: 50%;
    }

    .sub-menu-link img {
        width: 23px;
        padding: 5px;
        border-radius: 30%;
        margin-right: 20px;
        background: #e5e5e5;

    }

    .sub-menu-link span {
        font-size: 22px;
        transition: transform 0.5s;
    }

    .sub-menu-link:hover span {
        transform: translateX(5px);
    }

    .sub-menu-link:hover p {
        color: #771cab;
        transform: scale(1.1) translateX(7px);
    }