{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<link href="{% static 'css/pages/home.css' %}" rel="stylesheet">

<link href="{% static 'css/pages/product_detail.css' %}" rel="stylesheet">

<!-- Product detail -->
<div class="content-box">
    <div class="product-details text_color-scheme">
        <h1 class="center">{{ product.name }}</h1><br>
        <h3 class="justify">Description: {{ product.description }}</h3><br>
        <h4>Price: {{ product.price }}</h4><br>
        <!-- Pay by card -->
        <form id="payment-form" action="{% url 'payment_pro' product_id=product.id %}" method="POST">
            {% csrf_token %}
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_public_key }}"
                    data-amount="{{ product.price|floatformat:2|floatformat:0 }}00"
                    data-name="{{ product.name }}"
                    data-description="{{ product.description }}"
                    data-image="{% if product.photo %}{{ product.photo.url }}{% endif %}"
                    data-currency="usd"
            ></script>
        </form>
        <!-- end Pay by card -->
    </div>
    {% if product.photo %}
    <img src="{{ product.photo.url }}" alt="" class="product-image-detail"/>
    {% endif %}
</div>
<!-- end Product detail -->

<!-- Display randomly generated products -->
<div class="random-container">
    {% for item in random_products %}
    {% include 'elements/product_list.html' with products=item %}
    {% endfor %}
</div>
<!-- end Display randomly generated products -->
<script src="{% static 'js/pages/product_detail.js' %}"></script>
{% endblock %}
