{% load static %}
<link href="{% static 'css/base/navbar.css' %}" rel="stylesheet">
<nav>
    <div class="nav-bar">
        <img src="{% static 'img/menu.png'%}" class="bx bx-menu sidebarOpen" id="menu">
        <span class="logo navLogo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png'%}" id="logo" class="logo_e_shop">
                </a>
        </span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">Menu</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>

            <ul class="nav-links">
                <li><a href="#">Cart<img src="{% static 'img/cart.png'%}" id="cart" style="height: 20px;
    margin-left: 18px;"></a></li>

<!--                <li><a href="#">Cart</a></li>-->
<!--                <li><a href="#">Login</a></li>-->

                <li><a href="{% url 'login' %}">Login<img src="{% static 'img/login.png'%}" id="login-ico" style="height: 18px;
    margin-left: 18px;"></a></li>

<!--                <li><a href="#">profile</a></li>-->

            </ul>
        </div>

        <div class="darkLight-searchBox">

            <div class="searchBox">
                <div class="searchToggle">
                    <img src="{% static 'img/search.png'%}" id="search" style="height: 25px">
                </div>

                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search'>go</i>
                </div>
            </div>


            <!--            <div class="dark-light">-->
            <!--                                    <i class='bx bx-moon moon'></i>-->
            <!--                &lt;!&ndash;                    <i class='bx bx-sun sun'></i>&ndash;&gt;theme-->
            <!--            </div>-->


            {% if user.is_authenticated and user.photo %}

            <img src="{{ user.photo.url }}" class="user-picture" onclick="toggleMenu()" class="account-image"></button>
            {% else %}
            <img src="{% static 'img/unknown.png' %}" class="user-picture" onclick="toggleMenu()">
            {% endif %}
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    {% if user.is_authenticated %}
                    <div class="user-info">
                        {% if user.photo %}
                        <img src="{{ user.photo.url }}">

                        {% else %}
                        <img src="{% static 'img/unknown.png' %}">
                        {% endif %}
                        <h3>{{ user.email }}</h3>
                    </div>
                    <hr>
                    <a href="{% url 'user_profile' %}" class="sub-menu-link">
                        <img src="{% static 'img/profile.png'%}">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="{% static 'img/cart_dark.png'%}">
                        <p>Your Cart</p>
                        <span>></span>
                    </a>
                    <a href="{% url 'logout' %}" class="sub-menu-link">
                        <img src="{% static 'img/logout.png'%}">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                    {% else %}

                    <div class="user-info"><img src="{% static 'img/unknown.png' %}">
                        <h3>Anonymous</h3>
                    </div>
                    <hr>


                    <a href="{% url 'login' %}" class="sub-menu-link">
                        <img src="{% static 'img/login.png'%}">
                        <p>Login</p>
                        <span>></span></a>
                    {% endif %}
                </div>
                <!--            </div>-->
            </div>
        </div>
    </div>
</nav>

<script>
    const cartImg = document.getElementById('cart');
    const logoImg = document.getElementById('logo');
    const searchImg = document.getElementById('search');
    const menuImg = document.getElementById('menu');



    const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

    if (prefersDark) {
        // cartImg.src = '{% static "img/cart_dark.png" %}';
        // logoImg.src = '{% static "img/logo_dark.png" %}';
        // searchImg.src = '{% static "img/search_dark.png" %}';
        // menuImg.src = '{% static "img/menu_dark.png" %}';

        cartImg.src = '{% static "img/cart.png" %}';
        logoImg.src = '{% static "img/logo.png" %}';
        searchImg.src = '{% static "img/search.png" %}';
        menuImg.src = '{% static "img/menu.png" %}';



    } else {
        // cartImg.src = '{% static "img/cart.png" %}';
        // logoImg.src = '{% static "img/logo.png" %}';
        // searchImg.src = '{% static "img/search.png" %}';
        // menuImg.src = '{% static "img/menu.png" %}';

        cartImg.src = '{% static "img/cart_dark.png" %}';
        logoImg.src = '{% static "img/logo_dark.png" %}';
        searchImg.src = '{% static "img/search_dark.png" %}';
        menuImg.src = '{% static "img/menu_dark.png" %}';


    }


    const body = document.querySelector("body"),
        nav = document.querySelector("nav"),
        // modeToggle = document.querySelector(".dark-light"),
        searchToggle = document.querySelector(".searchToggle"),
        sidebarOpen = document.querySelector(".sidebarOpen"),
        siderbarClose = document.querySelector(".siderbarClose");

    let getMode = localStorage.getItem("mode");
    if (getMode && getMode === "dark-mode") {
        body.classList.add("dark");
    }

    // js code to toggle dark and light mode
    // modeToggle.addEventListener("click", () => {
    //     modeToggle.classList.toggle("active");
    //     body.classList.toggle("dark");
    //
    //     // js code to keep user selected mode even page refresh or file reopen
    //     if (!body.classList.contains("dark")) {
    //         localStorage.setItem("mode", "light-mode");
    //     } else {
    //         localStorage.setItem("mode", "dark-mode");
    //     }
    // });

    // js code to toggle search box
    searchToggle.addEventListener("click", () => {
        searchToggle.classList.toggle("active");
    });


    //   js code to toggle sidebar
    sidebarOpen.addEventListener("click", () => {
        nav.classList.add("active");
    });

    body.addEventListener("click", e => {
        let clickedElm = e.target;

        if (!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")) {
            nav.classList.remove("active");
        }
    });

</script>
<style>
    /*@media only screen and (min-width: 792px) {*/
    /*    .nav-links li:nth-child(2),*/
    /*    .nav-links li:nth-child(3) {*/
    /*        display: none;*/
    /*    }*/
    /*}*/


    @media (prefers-color-scheme: light) {
        :root {
            --body-color: #E4E9F7;
            --nav-color: #ffffff;
            --side-nav: #ffffff;
            --text-color: #000000;
            --search-bar: #F2F2F2;
            --search-text: #010718;
        }

        /*.menu {*/
        /*    background-color: #d90000;*/
        /*}*/
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --body-color: #E4E9F7;
            --nav-color: #000000;
            --side-nav: #232323;
            --text-color: #FFF;
            --search-bar: #F2F2F2;
            --search-text: #010718;
        }

        /*.menu {*/
        /*    background-color: #000000;*/
        /*}*/
    }

    /* ===== Google Font Import - Poppins ===== */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


    .logo_e_shop {
        height: 60px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        transition: all 0.4s ease;;
    }


    /* ===== Colours ===== */
    /*:root {*/
    /*    --body-color: #E4E9F7;*/
    /*    --nav-color: #ffffff;*/
    /*    --side-nav: #4b3e04;*/
    /*    --text-color: #FFF;*/
    /*    --search-bar: #F2F2F2;*/
    /*    --search-text: #010718;*/
    /*}*/

    body {
        height: 100vh;
        background-color: var(--body-color);
    }

    body.dark {
        --body-color: #18191A;
        --nav-color: #242526;
        --side-nav: #63b2ff;
        --text-color: #CCC;
        --search-bar: #242526;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: var(--nav-color);
        z-index: 100;
    }

    body.dark nav {
        border: 1px solid #393838;

    }

    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 1000px;
        width: 100%;
        background-color: var(--nav-color);
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .nav-bar .sidebarOpen {
        color: var(--text-color);
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
        height: 40px;
        display: none;
    }

    nav .nav-bar .logo a {
        font-size: 25px;
        font-weight: 500;
        color: var(--text-color);
        text-decoration: none;
    }

    .menu .logo-toggle {
        display: none;
    }

    .nav-bar .nav-links {
        display: flex;
        align-items: center;
    }

    .nav-bar .nav-links li {
        margin: 0 5px;
        list-style: none;
    }

    .nav-links li a {
        position: relative;
        font-size: 17px;
        font-weight: 400;
        color: var(--text-color);
        text-decoration: none;
        padding: 10px;
    }

    .nav-links li a::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: var(--text-color);
        opacity: 0;
        transition: all 0.3s ease;
    }

    .nav-links li:hover a::before {
        opacity: 1;
    }

    .nav-bar .darkLight-searchBox {
        display: flex;
        align-items: center;
    }

    .darkLight-searchBox .dark-light,
    .darkLight-searchBox .searchToggle {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        color: #FFFFFF;
    }

    .dark-light i,
    .searchToggle i {
        position: absolute;
        color: var(--text-color);
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .dark-light i.sun {
        opacity: 0;
        pointer-events: none;
    }

    .dark-light.active i.sun {
        opacity: 1;
        pointer-events: auto;
    }

    .dark-light.active i.moon {
        opacity: 0;
        pointer-events: none;
    }

    .searchToggle i.cancel {
        opacity: 0;
        pointer-events: none;
    }

    .searchToggle.active i.cancel {
        opacity: 1;
        pointer-events: auto;
    }

    .searchToggle.active i.search {
        opacity: 0;
        pointer-events: none;
    }

    .searchBox {
        position: relative;
    }

    .searchBox .search-field {
        position: absolute;
        bottom: -85px;
        right: 5px;
        height: 50px;
        width: 300px;
        display: flex;
        align-items: center;
        background-color: var(--nav-color);
        padding: 3px;
        border-radius: 6px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .searchToggle.active ~ .search-field {
        bottom: -74px;
        opacity: 1;
        pointer-events: auto;
    }

    .search-field::before {
        content: '';
        position: absolute;
        right: 14px;
        top: -4px;
        height: 12px;
        width: 12px;
        background-color: var(--nav-color);
        transform: rotate(-45deg);
        z-index: -1;
    }

    .search-field input {
        height: 100%;
        width: 100%;
        padding: 0 45px 0 15px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: var(--search-text);
        background-color: var(--search-bar);
    }

    body.dark .search-field input {
        color: var(--text-color);
    }

    .search-field i {
        position: absolute;
        color: var(--nav-color);
        right: 15px;
        font-size: 22px;
        cursor: pointer;
    }

    body.dark .search-field i {
        color: var(--text-color);
    }

    @media (max-width: 790px) {
        nav .nav-bar .sidebarOpen {
            display: block;
        }

        .menu {
            position: fixed;
            height: 100%;
            width: 320px;
            left: -100%;
            top: 0;
            padding: 20px;
            background-color: var(--side-nav);
            z-index: 100;
            transition: all 0.4s ease;
        }

        nav.active .menu {
            left: -0%;
        }

        nav.active .nav-bar .navLogo a {
            opacity: 0;
            transition: all 0.3s ease;
        }

        .menu .logo-toggle {
            display: block;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo-toggle .siderbarClose {
            color: var(--text-color);
            font-size: 24px;
            cursor: pointer;
        }

        .nav-bar .nav-links {
            flex-direction: column;
            padding-top: 30px;
        }

        .nav-links li a {
            display: block;
            margin-top: 20px;
        }
    }


    /*@media (prefers-color-scheme: dark) {*/
    /*  #cart {*/
    /*      content: url('/E_Shop_config/static/img/cart.png');*/
    /*  }*/
    /*}*/

    /*@media (prefers-color-scheme: light) {*/
    /*  #cart {*/
    /*      content: url('/E_Shop_config/static/img/cart_dark.png');*/
    /*  }*/
    /*}*/


    .user-picture {
        object-fit: cover;
        cursor: pointer;
        width: 70px;
        /*height: 70px;*/
        /*margin-left: 30px;*/
        margin-right: 30px;
        border-radius: 50%;
        clip-path: circle(30%);
    }

    nav ul {
        width: 100%;
        text-align: right;
    }

    nav ul li {
        list-style: none;
        margin: 10px 20px;
        display: inline-block;

    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .sub-menu-wrap {
        top: 100%;
        right: 2%;
        width: 320px;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: max-height 0.5s;
    }

    .sub-menu-wrap.open-menu {
        max-height: 400px;
    }

    .sub-menu {
        margin: 10px;
        padding: 20px;
        background: #fff;
        border-radius: 9%;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-info h3 {
        font-weight: 10;
    }

    .user-info img {
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .sub-menu hr {
        border: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
        margin: 15px 0 10px;
    }

    .sub-menu-link {
        margin: 12px 0;
        color: #525252;
        display: flex;
        align-items: center;
        text-decoration: none;

    }

    .sub-menu-link p {
        width: 50%;
    }

    .sub-menu-link img {
        width: 23px;
        padding: 5px;
        border-radius: 30%;
        margin-right: 20px;
        background: #e5e5e5;

    }

    .sub-menu-link span {
        font-size: 22px;
        transition: transform 0.5s;
    }

    .sub-menu-link:hover span {
        transform: translateX(5px);
    }
</style>
<script src="{% static 'js/base/navbar.js' %}"></script>


<!--<nav>-->
<!--    &lt;!&ndash;  Navbar Logo  &ndash;&gt;-->
<!--    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" class="logo"></a>-->
<!--    &lt;!&ndash;  end Navbar Logo &ndash;&gt;-->
<!---->
<!--    &lt;!&ndash;  Search bar &ndash;&gt;-->
<!--    <form action="" class="search-bar">-->
<!--        <input type="text" placeholder="Search..." size="30px" maxlength="255" name="q">-->
<!--        <button type="submit"><img src="{% static 'img/search.png' %}"></button>-->
<!--    </form>-->
<!--    &lt;!&ndash; end Search bar &ndash;&gt;-->

<!--    &lt;!&ndash; Cart   &ndash;&gt;-->
<!--    <ul>-->
<!--        <li><a href="#">Cart</a></li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; end Cart &ndash;&gt;-->

<!--    &lt;!&ndash; Navbar User info &ndash;&gt;-->
<!--    {% if user.is_authenticated and user.photo %}-->

<!--    <img src="{{ user.photo.url }}" class="user-picture" onclick="toggleMenu()" class="account-image"></button>-->
<!--    {% else %}-->
<!--    <img src="{% static 'img/unknown.png' %}" class="user-picture" onclick="toggleMenu()">-->
<!--    {% endif %}-->
<!--    <div class="sub-menu-wrap" id="subMenu">-->
<!--        <div class="sub-menu">-->
<!--            {% if user.is_authenticated %}-->
<!--            <div class="user-info">-->
<!--                {% if user.photo %}-->
<!--                <img src="{{ user.photo.url }}">-->

<!--                {% else %}-->
<!--                <img src="{% static 'img/unknown.png' %}">-->
<!--                {% endif %}-->
<!--                <h3>{{ user.email }}</h3>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <a href="{% url 'user_profile' %}" class="sub-menu-link">-->
<!--                <img src="{% static 'img/profile.png'%}">-->
<!--                <p>Edit Profile</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="#" class="sub-menu-link">-->
<!--                <img src="{% static 'img/cart_dark.png'%}">-->
<!--                <p>Your Cart</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            <a href="{% url 'logout' %}" class="sub-menu-link">-->
<!--                <img src="{% static 'img/logout.png'%}">-->
<!--                <p>Logout</p>-->
<!--                <span>></span>-->
<!--            </a>-->
<!--            {% else %}-->

<!--            <div class="user-info"><img src="{% static 'img/unknown.png' %}">-->
<!--                <h3>Anonymous</h3>-->
<!--            </div>-->
<!--            <hr>-->


<!--            <a href="{% url 'login' %}" class="sub-menu-link">-->
<!--                <img src="{% static 'img/login.png'%}">-->
<!--                <p>Login</p>-->
<!--                <span>></span></a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; end Navbar User info &ndash;&gt;-->

<!--</nav>-->