{% load static %}
<link href="{% static 'css/base/navbar.css' %}" rel="stylesheet">
<nav>
    <!--  Navbar Logo  -->
    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" class="logo"></a>
    <!--  end Navbar Logo -->

    <!--  Search bar -->
    <form action="" class="search-bar">
        <input type="text" placeholder="Search..." size="30px" maxlength="255" name="q">
        <button type="submit"><img src="{% static 'img/search.png' %}"></button>
    </form>
    <!-- end Search bar -->

    <!-- Cart   -->
    <ul>
        <li><a href="#">Cart</a></li>
    </ul>
    <!-- end Cart -->

    <!-- Navbar User info -->
    {% if user.is_authenticated and user.photo %}

    <img src="{{ user.photo.url }}" class="user-picture" onclick="toggleMenu()" class="account-image"></button>
    {% else %}
    <img src="{% static 'img/unknown.png' %}" class="user-picture" onclick="toggleMenu()">
    {% endif %}
    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            {% if user.is_authenticated %}
            <div class="user-info">
                {% if user.photo %}
                <img src="{{ user.photo.url }}">

                {% else %}
                <img src="{% static 'img/unknown.png' %}">
                {% endif %}
                <h3>{{ user.email }}</h3>
            </div>
            <hr>
            <a href="{% url 'user_profile' %}" class="sub-menu-link">
                <img src="{% static 'img/profile.png'%}">
                <p>Edit Profile</p>
                <span>></span>
            </a>
            <a href="#" class="sub-menu-link">
                <img src="{% static 'img/shopping-cart.png'%}">
                <p>Your Cart</p>
                <span>></span>
            </a>
            <a href="{% url 'logout' %}" class="sub-menu-link">
                <img src="{% static 'img/logout.png'%}">
                <p>Logout</p>
                <span>></span>
            </a>
            {% else %}

            <div class="user-info"><img src="{% static 'img/unknown.png' %}">
                <h3>Anonymous</h3>
            </div>
            <hr>


            <a href="{% url 'login' %}" class="sub-menu-link">
                <img src="{% static 'img/login.png'%}">
                <p>Login</p>
                <span>></span></a>
            {% endif %}
        </div>
    </div>
    <!-- end Navbar User info -->

</nav>
<script src="{% static 'js/base/navbar.js' %}"></script>