/* --------------------------- product_list --------------------------- */
a {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.product {
    margin-right: 6px;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 20px;
    flex: 0 0 calc(20.33% - 6px);
}

.product-image {
    width: 250px;
    height: 250px;
    margin-top: 25px;
    object-fit: cover;
    border-radius: 20px;
}

.flex-container {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 10px;
    justify-content: center;
}

.product:last-child {
    margin-right: 0;
}

/* --------------------------- end product_list --------------------------- */


/* --------------------------- adapted for different device --------------------------- */
@media (max-width: 1276px) {
    .product-image {
        width: 250px;
        height: 250px;
        margin-top: 1px;
        object-fit: cover;
        border-radius: 20px;
    }
}

/* --------------------------- end adapted for different device --------------------------- */


/* --------------------------- Device theme --------------------------- */
@media (prefers-color-scheme: light) {
    a {
        color: rgb(0, 0, 0);
    }

    .product {
        background: rgb(255, 255, 255);
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: rgb(255, 255, 255);
    }

    .product {
        background: rgba(35, 34, 34, 0.87);
    }
}

/* --------------------------- end Device theme --------------------------- */













/*.last-line {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.last-line .product {*/
/*    margin-right: 0;*/
/*}*/

/*.last-line .product:nth-child(4) {*/
/*    margin-right: 0;*/
/*}*/


/* --------------------------- pagination --------------------------- */
/*.last-line {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.pagination {*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    position: absolute;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.page-input {*/
/*    border: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 28px;*/
/*    color: #00ff4a;*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    background-color: transparent;*/
/*}*/

/*.pagination a {*/
/*    color: #ffffff;*/
/*    margin: 0 5px;*/
/*    padding: 8px 16px;*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*}*/

/*.pagination span {*/
/*    margin: 0 5px;*/
/*    font-weight: bold;*/
/*    padding: 8px 16px;*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*}*/

/*.pagination a:hover {*/
/*        background-color: rgba(201, 0, 246, 0.79);*/
/*    }*/

/* --------------------------- end pagination --------------------------- */


/*.payment_button {*/
/*    margin: 15px;*/
/*    color: #ffffff;*/
/*    overflow: hidden;*/
/*    padding: 15px 31px;*/
/*    border-radius: 4px;*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    filter: hue-rotate(0deg);*/
/*    text-transform: uppercase;*/
/*    transition: all 0.1s linear;*/
/*    background: rgb(38, 182, 38);*/
/*    font-family: "Roboto", sans-serif;*/
/*}*/

/*.payment_button:hover span:nth-child(1) {*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 3px;*/
/*    display: block;*/
/*    position: absolute;*/
/*    filter: hue-rotate(0deg);*/
/*    animation: animate1 1s linear infinite;*/
/*    background: linear-gradient(90deg, transparent, #00fff7);*/

/*}*/

/*@keyframes animate1 {*/
/*    0% {*/
/*        left: -100%;*/
/*    }*/
/*    50%,*/
/*    100% {*/
/*        left: 100%;*/
/*    }*/
/*}*/

/*.payment_button:hover span:nth-child(2) {*/
/*    right: 0;*/
/*    width: 3px;*/
/*    top: -100%;*/
/*    height: 100%;*/
/*    display: block;*/
/*    position: absolute;*/
/*    animation-delay: 0.25s;*/
/*    filter: hue-rotate(60deg);*/
/*    animation: animate2 1s linear infinite;*/
/*    background: linear-gradient(180deg, transparent, #00fff7);*/
/*}*/

/*@keyframes animate2 {*/
/*    0% {*/
/*        top: -100%;*/
/*    }*/
/*    50%,*/
/*    100% {*/
/*        top: 100%;*/
/*    }*/
/*}*/

/*.payment_button:hover span:nth-child(3) {*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    display: block;*/
/*    position: absolute;*/
/*    filter: hue-rotate(120deg);*/
/*    animation: animate3 1s linear infinite;*/
/*    background: linear-gradient(270deg, transparent, #ddff00);*/
/*}*/

/*@keyframes animate3 {*/
/*    0% {*/
/*        height: 3px;*/
/*        right: -100%;*/
/*    }*/
/*    50%,*/
/*    100% {*/
/*        height: 2px;*/
/*        right: 100%;*/
/*    }*/
/*}*/

/*.payment_button:hover span:nth-child(4) {*/
/*    left: 0;*/
/*    width: 3px;*/
/*    height: 100%;*/
/*    bottom: -100%;*/
/*    display: block;*/
/*    position: absolute;*/
/*    animation-delay: 0.75s;*/
/*    filter: hue-rotate(300deg);*/
/*    animation: animate4 1s linear infinite;*/
/*    background: linear-gradient(360deg, transparent, #00fff7);*/
/*}*/

/*@keyframes animate4 {*/
/*    0% {*/
/*        bottom: -100%;*/
/*    }*/
/*    50%,*/
/*    100% {*/
/*        bottom: 100%;*/
/*    }*/
/*}*/

/* --------------------------- end payment button animation --------------------------- */
